<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>MixMods Browser</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="header-brand"><img src="assets/logo.svg" alt="Site Logo"/></a>
        <div class="header-navigation">
            <a href="https://store.steampowered.com/app/4000/Garrys_Mod/" class="button is-secondary" target="_blank">
                <svg></svg><span>Visit MixMods</span>
            </a>
        </div>
    </div>
</header>
<div class="blog-list-header">
    <div class="blog-hero-image transition-header" style="background-image:url(https://files.facepunch.com/rubat/2025/May09-1347-HairyMudpuppy.png)"></div>
    <div class="blog-list-header-body">
        <div class="container">
            <div class="tags">
                <div class="tag secondary"><span class="icon"><i>schedule</i></span> 5/9/2025</div>
            </div>
            <a href="#" class="blog-header-title"><h1>May 2025 Patch</h1></a>
            <p>Stability/security patch</p>
            <a href="#" class="button is-secondary is-medium">Read more</a>
        </div>
    </div>
</div>
<div class="section blog-list bg-light">
    <div class="container">
        <div class="filter-bar">
            <div class="filter-controls"></div>
            <div class="search-box">
                <form><input type="text" name="search" required placeholder="Filter by name"/></form>
            </div>
        </div>
        <div class="blog-posts-container"></div>
        <div class="pagination-container"></div>
    </div>
</div>
<div class="loader-wrapper"><div class="loader"></div></div>
<script src="script.js"></script>
</body>
</html>
