<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>MixMods Browser</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="header-brand"><img src="assets/logo.svg" alt="Site Logo"/></a>
        <div class="header-navigation">
            <a href="https://store.steampowered.com/app/4000/Garrys_Mod/" class="button is-secondary" target="_blank">
                <svg></svg><span>Visit MixMods</span>
            </a>
        </div>
    </div>
</header>
<div class="blog-hero">
    <div class="blog-hero-image transition-header"></div>
    <div class="blog-hero-body">
        <div class="container">
            <div class="body-info">
                <div class="tags">
                    <div class="tag secondary"><span class="icon"><i>schedule</i></span> 31 July 2024</div>
                </div>
                <h1>Mod Title</h1>
                <p>Mod Description</p>
                <div class="author"></div>
            </div>
        </div>
    </div>
</div>
<div class="blog">
    <div class="news-section-block">
        <div class="section">
            <div class="inner">
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>
</body>
</html>
